<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="margin: 20px 0;">Libros disponibles</h1>
            <hr>
            <app-card-container [libros]="librosDisponibles" class="row"></app-card-container>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h1 style="margin: 20px 0;">Libros reservados</h1>
            <hr>
            <app-card-container [libros]="librosReservados" class="row"></app-card-container>

        </div>
    </div>
</div>